* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px lightgray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkorange;
}
